/* CSS Stylesheet */


@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
  font-family: Urbanist,Arial, sans-serif;
  font-size: 16px;
  color:#12ba47;
  line-height: 1.5;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}

a:link {
  color: #0077cc;
  
}

a:hover {
	color:#ba2812;
  text-decoration: underline;
}

a:active {
  color: #9812ba;
  
}

a:visited {
  color: #12ba47;
  
}




 