/* CSS Stylesheet */


@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
  font-family: "Urbanist","Helvetica","Arial", sans-serif;
  font-size: 16px; 
  max-width:960px;
  color:#000000;
  line-height: 1.5;
  background-color: #f2f2f2;

}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
}

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

a:link {
  color: #0077cc;
  
}

a:hover {
	color:#ba2812;
  text-decoration: underline;
}

a:active {
  color: #9812ba;
  
}

a:visited {
  color: #12ba47;
  
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#Eastern-Conference li{
	color:rgb(0, 0, 0) ;
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 5px;
}

#box{
	width: 600px;
  height: 425px;
  border: 3px solid red;
}

footer {
  background-color: #cccccc;
  color: #333333;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ffffff;
}

nav a {
  text-align: center;
  padding: 10px;
  color: #333333;
  font-weight: bold;
}

#About {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  }

section {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  padding: 10px;
}


h3
{
	font-size: 26px;
  font-weight: bold;
  color: #049ae6
}

h2,
h4
{
	font-size: 26px;
  font-weight: bold;
  color: #2604e6
}

 